services:
  postgres:
    image: postgres:16
    container_name: mockify_postgres_local
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - mockify_data:/var/lib/postgresql/data

volumes:
  mockify_data:
