spring:
  application:
    name: Mockify Backend

  profiles:
    default: local

  docker:
    compose:
      enabled: false

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Kolkata

  datasource:
    driver-class-name: org.postgresql.Driver

  jackson:
    time-zone: Asia/Kolkata

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration